/**********************
/***** Resources ******
/*********************/
section{
    padding: 60px 0;
}
section .section-title{
    text-align:center;
    color:#173c78;
    margin-bottom:50px;
    text-transform:uppercase;
}
#resources{
    background:#ffffff;
}
#resources .card{
    text-align: center;
    padding: 1rem!important;
    border: none;
    margin-bottom:1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition .5s all ease;
    transition: .5s all ease;
}
#resources .card #github, #discord, #acm, #practice, #learning{
    color: #173c78;
    margin-bottom: 1rem;
    transition: .2s color ease;
}
#resources .card:hover #github {
    color: #6cc644;
}
#resources .card:hover #discord {
    color: #738adb;
}
#resources .card:hover #acm {
    color: #62A7D9;
}
#resources .card:hover #practice {
    color: #005c03;
}
#resources .card:hover #learning {
    color: #ad2411;
}
#resources .card:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -o-box-shadow:5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#resources .card .card-block{
    position: relative;
}
#resources .card .card-block a{
    color: #2a62bd !important;
    font-weight:700;
    text-decoration:none;
}
#resources .card .card-block a i{
    display:none;
}
#resources .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;
}
